@import 'mixins'

body
  margin: 0
  font-family: 'Ubuntu', 'Helvetica'
  font-size: 13px
  
#code
  position: absolute
  float: left
  width: 650px
  height: 600px
#file-browser
  width: 150px
  height: 600px
  overflow: auto
  overfloy-x: hidden
  float: left
  margin-left: 650px
.clear
  clear: both

.wemacs .ace_editor
  font-family: 'Ubuntu Mono', 'Monaco', 'Menlo', 'Consolas', 'source-code-pro', monospace
  font-size: 14px
  
#file-open  
  display: none
  position: relative
  z-index: 4
  width: 500px
  height: 220px
  background-color: #fff
  border: 1px solid #ccc
  padding: 5px
  @include border-radius
  ul
    margin: 0
    padding: 0
    height: 200px
  input 
    height: 20px
    width: 100%
