body
  margin: 0
  font-family: Helvetica
  font-size: 13px
#code
  position: absolute
  float: left
  width: 650px
  height: 600px
#file-browser
  width: 150px
  float: left
  margin-left: 650px
.clear
  clear: both
.ace_scrollbar
  display: none !important
